    <div class="example-container">
        <p>{{ questions[currentQuestionIndex].label }}</p>
        <form [formGroup]="options">
            @for (item of questions; track $index;let i =$index) {
                @if (i==currentQuestionIndex) {
            <div class="example-form-fields">
                <!-- Dynamic rendering for input type questions -->
                <ng-container *ngIf="questions[currentQuestionIndex].type === 'input'">
                    <mat-form-field *ngFor="let field of questions[currentQuestionIndex].fields">
                        <input matInput [placeholder]="field.placeholder" formControlName="{{field.name}}"
                            [required]="field.required"/>
                    </mat-form-field>
                </ng-container>
    
                <!-- Dynamic rendering for radio button questions -->
                <ng-container *ngIf="questions[currentQuestionIndex].type === 'radio'">
                    <mat-radio-group [formControlName]="questions[currentQuestionIndex].name" [id]="questions[currentQuestionIndex].name">
                        <mat-radio-button *ngFor="let option of questions[currentQuestionIndex].options" [value]="option" (change)="addvalue(questions[currentQuestionIndex].name,option)">
                            {{ option }}
                        </mat-radio-button>
                    </mat-radio-group>
                </ng-container>
    
                <!-- Dynamic rendering for checkbox questions -->
                <ng-container *ngIf="questions[currentQuestionIndex].type === 'checkbox'">
                    <div>
                        <ng-container *ngIf="questions[currentQuestionIndex].type === 'checkbox'">
                            <div formArrayName="languages">
                                <div *ngFor="let option of questions[currentQuestionIndex].options; let i = index">
                                  <mat-checkbox [formControlName]="i">{{ option }}</mat-checkbox>
                                </div>
                              </div>
                        </ng-container>
    
                    </div>
                </ng-container>
    

                <!-- Dynamic rendering for date of birth questions -->
                <ng-container *ngIf="questions[currentQuestionIndex].type === 'datepicker'">
                    <mat-form-field>
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date_of_birth">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </ng-container>
    
            </div>
            }
        }
    
            <div class="next-button">
                <button mat-flat-button (click)="prevQuestion()" *ngIf="currentQuestionIndex > 0" [disabled]="currentQuestionIndex === 0">Previous</button> &nbsp;
                <button mat-flat-button (click)="nextQuestion()" [disabled]="!isFormValid">Next</button>
            </div>
        </form>
    </div>