<div class="sidenav">
  <div class="menu-items-noncollapsed">
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" (click)="goToDashboard('dashboard')">
        <a mat-list-item >
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="sidenav-nav-item" (click)="goToDashboard('students')">
        <a mat-list-item >
          <mat-icon>person</mat-icon>
          <span>Student Details</span>
        </a>
      </li>
      <li class="sidenav-nav-item" (click)="goToDashboard('personal')">
        <a mat-list-item >
          <mat-icon>info</mat-icon>
          <span>Personal Identifying Information</span>
        </a>
      </li>
      <li class="sidenav-nav-item" (click)="goToDashboard('disability')">
        <a mat-list-item >
          <mat-icon>accessibility</mat-icon>
          <span>Disability Status</span>
        </a>
      </li>
      <li class="sidenav-nav-item" (click)="goToDashboard('Veteran')">
        <a mat-list-item >
          <mat-icon>military_tech</mat-icon>
          <span>Veteran Status</span>
        </a>
      </li>
      <li class="sidenav-nav-item" (click)="goToDashboard('Employeement')">
        <a mat-list-item >
          <mat-icon>work</mat-icon>
          <span>Employment Status</span>
        </a>
      </li>
    </ul>
  </div>
</div>
